*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}

.app_header{
  background-color: #fff;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app_header .header_items .MuiButton-label{
  size:20px;
  /* color:white; */
}

.Link{
  text-decoration: none;
  padding-right: 20px;
}